
/* pseudo classes */
/* 
1) :hover
2) :root
3) :link
4) :visited 
5) :focus

6) :valid
7) :invalid
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 300px;
    width: 300px;
    background-color: aqua;
}

/* 1) :hover */
.box:hover{
    background-color: aquamarine;
}


/* 2) :root */
:root{
    font-size: 10px;
}

/* 3) :link */
a{
    font-size: 4rem;
}




/* 3) :link--> link red color */   
a:link{
    color: red;
}




/* 3) :visited--> visit link then kink color black  */
a:visited{
    color: black;
}




/* 5) :focus--> focus are uesd tab using on site */
a:focus{
    border: 4px solid gold;
}

button:focus{
    border: 4px solid red;
    font-size: 4rem;
}





/* child  */

ol li{
    font-size: 4rem;
}

ol li:first-child{
    color: darkcyan;
}

ol li:last-child{
    color: brown;
}



/* :nth child */


ul li{
    font-size: 5rem;
    background-color: aliceblue;
}

ul li:nth-child(even){
    color: crimson;
}

ul li:nth-child(odd){
color: chartreuse;

}






/* pseudo element */

body::-webkit-scrollbar{
    background-color: rgb(51, 5, 5);
}


body::-webkit-scrollbar-thumb{
    background-color: rgb(241, 11, 11);
}

/* select text on browser then background color change */
*::selection{
background-color: chocolate;
}




/*  */
span{
    font-size: 6rem;
}
/* 1) ::before   */
span::before{
    content:" before text added  ";
    color: darkorange;
}


/* 2) ::before  */

span::after{
    content: " after added";
    color: red;
}










/* Attribute Selector */

img[src="abc.jpg"]{

}


input[type="text"]{
    color: red;
}



